*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.idea
.packages
.pub/
.pub-cache/
.dart_tool/
.vscode/
*.iml
.idea/
/pubspec.lock
**/doc/api/
coverage/

build
**/android/*
**/ios/*
**/linux/*
**/macos/*
**/web/*
**/windows/*

